body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
button {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
header {
    height: 30px;
    border-bottom: solid 1px;
    margin-bottom: 20px;
    display: flex;
    padding: 10px;
    align-items: center;
}
.menu_button {
    height: 30px;
    width: 30px;
    padding: 0;
    border: none;
    background-color: transparent;
    margin-right: 900px;
}
.menu_block {
    z-index: 10;
    width: 300px;
    max-height: 600px;
    background-color: #b7b8b8;
    position: absolute;
    top: 51px;
    left: 0;
    overflow: auto;

}
.lines_list {
    list-style-type: none;
    padding: 0;
    margin-left: 30px;
}
.lines_item {
    margin-bottom: 20px;
}
.lines_button {
    font-size: 20px;
    background-color: #fff;
    border: solid 0.5px;
    width: 250px;
}
.lines_pause_button {
    height: 30px;
    width: 30px;
    padding: 0;
    border: none;
    background-color: transparent;
    margin-right: 50px;
}
.lines_close_button {
    height: 30px;
    width: 30px;
    padding: 0;
    border: none;
    background-color: transparent;
    margin-right: 50px;
}
.agent_name {
    font-size: 18px;
    margin: 0;
}
.lines {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 20px;
}
.line_block {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 10px;
}

.line_number {
    font-size: 30px;
    margin: 0px auto;
    margin-top: 20px;
}
.line_name {
    font-size: 16px;
    margin: 0px auto;  
}
.line_counter {
    font-size: 100px;
    margin: 0px auto;
    margin-top: 20px;
}
.line_wait_time {
    font-size: 15px;
    margin: 0px auto;
    height: 18px;
}
.button_panel {
    display: flex;
    margin: 0px auto;
    margin-top: 20px;
    width: 150px;
    justify-content: space-around;
}
.info {
    width: 30px;
    height: 30px;
}
.open_queue {
    width: 30px;
    height: 30px;
}
.queue_list {
    width: 299px;
    height: 299px;
    margin-top: 20px;
    border: 1px solid;
    position: relative;
    top: 20px;
    left: 0;
    padding: 0;
    overflow: auto;
}
.queue_item {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
}
.is-hidden {
    display: none;
}
.green-line {
    background-color: #35d969;
}
.yellow-line {
    background-color: #eabf17;
}
.red-line {
    background-color: #ea3317;
}
.grey-line {
    background-color: #a3a3a3;
}

.info_tab {
    max-width: 295px;
    max-height: 250px;
    padding-left: 5px;
    position: absolute;
    background-color: aliceblue;
    z-index: 5;
}
